<%= provide(:title, "口コミ") %>
<div class="new_review_page">
  <div class="backcolor">
    <h2>口コミを投稿しよう！</h2>
    <div class="container">
      <% @menus.each do |menu| %>
        <div class="review_page_box">
          <h3><%= menu.name %></h3>
          <p>
            <%= image_tag menu.display_image %>
          </p>
          <div class="review_light">
            <span><%= link_to "口コミを書く", menu_path(menu.id), class: "btn btn-primary" %></span>
            <span><%= link_to "口コミを見る", menu_reviews_path(menu.id), class: "btn btn-primary" %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>