<div class="top_page">
  <div class="bar"></div>
  <div class="top_logo">
    <%= link_to image_tag('logo.png'), root_path %>
  </div>
  <div class="top_image">
    <%= image_tag "top_image.jpg" %> 
  </div>
  <div id="flex_link">
    <div class="flex-item"><%= link_to "メニュー", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "スタッフ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "お知らせ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "要望", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "マイページ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "ログアウト", logout_path, method: :delete, class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "予約する", "#", class: "btn btn-success" %></div>
  </div>
</div>
<div class="heading">
  <p>Copyright オフィスパ All Rights Reserved</p>
</div>
<footer>
  <ul class="flex-list">
    <li class="flex_item">
      <%= link_to top_path do %>
        <%= icon("fas", "home", class: "home-icon") %>
        ホーム
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to "#" do %>
        <%= icon("fas", "clock", class: "clock-icon") %>
        予約
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to "#" do %>
        <%= icon("fas", "user", class: "user-icon") %>
        マイページ
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
        <%= icon("fas", "sign-out-alt", class: "logout-icon") %>
        ログアウト
      <% end %>
    </li>
  </ul>
</footer>