<div class="top_page">
  <div class="bar"></div>
  <div class="top_logo">
    <%= image_tag 'logo.png'%>
  </div>
  <div class="top_image">
    <%= image_tag "top_image.jpg" %> 
  </div>
  <div id="flex_link">
    <div class="flex-item"><%= link_to "予約する", "#", class: "btn btn-success " %></div>
    <div class="flex-item"><%= link_to "スタッフ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "お知らせ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "要望", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "マイページ", "#", class: "btn btn-success" %></div>
    <div class="flex-item"><%= link_to "ログアウト", "#", class: "btn btn-success" %></div>
  </ul>
</div>