<div class="review_user_box">
  <div class="user_name_box">
    <%= image_tag "user.jpg" %>
    <span class="review_user_name"><%= review.user.name %> さんの口コミ</span>
  </div>
  <div class="user_score">
    <p>評価  <%= review.score %></p>
    <span><%= time_ago_in_words(review.created_at)+"前" %></span>
  </div>
  <div class="review_description_box">
    <p class="review_description">
      <%= review.content %>
    </p>
    <% if current_user == review.user %>
      <%= link_to "口コミを削除する", menu_review_path(review, review.id),
          method: :delete, class: "review_delet_btn", method: :delete, data: {confirm: "本当に削除しますか？"} %>
    <% end %>
  </div>
</div>