<div class="heading">
  <p>Copyright オフィスパ All Rights Reserved</p>
</div>
<footer>
  <ul class="flex-list">
    <li class="flex_item">
      <%= link_to top_path do %>
        <%= icon("fas", "home", class: "home-icon") %>
        <h4>ホーム</h4>
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to new_reservation_path do %>
        <%= icon("fas", "clock", class: "clock-icon") %>
        <h4>予約</h4>
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to current_user do %>
        <%= icon("fas", "user", class: "user-icon") %>
        <h4>マイページ</h4>
      <% end %>
    </li>
    <li class="flex_item">
      <%= link_to logout_path, method: :delete, data: {confirm: "ログアウトしますか？"} do %>
        <%= icon("fas", "sign-out-alt", class: "logout-icon") %>
        <h4>ログアウト</h4>
      <% end %>
    </li>
  </ul>
</footer>