<div class="sub_bar">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <ul>
        <li class="nabvabr-brand"><%= link_to "ホーム", "#" %></li>
        <li class="nabvabr-brand"><%= link_to "サービス", "#" %></li>
        <li class="nabvabr-brand"><%= link_to "メニュー", "#" %><li>
        <li class="nabvabr-brand"><%= link_to "スタッフ", "#" %></li>
        <li class="nabvabr-brand"><%= link_to "ログイン", "#" %></li>
        <button class="navbar-toggler">
          <span class="navbar-toggler-icon"></span>
        </button>
      </ul>
    </nav>
  </div>
</div>
<div class="cf"></div>