<div class="sub_bar">
  <div class="container">
    <ul>
      <li><%= link_to "ホーム", "#" %></li>
      <li><%= link_to "サービス", "#" %></li>
      <li><%= link_to "メニュー", "#" %><li>
      <li><%= link_to "スタッフ", "#" %></li>
      <li><%= link_to "ログイン", "#" %></li>
    </ul>
  </div>
</div>
<div class="cf"></div>